.currentBasics h3 {
    font-size: xx-large;
    margin-bottom: 0;
    font-weight: 400;
}

.currentBasics h2{
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 0;
}

.currentBasics h4{
    margin-top: 15px;
    font-weight: 200;
}