.forcast {
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: -15px;
    left: -17px;
    width: 106%;
    overflow: hidden;
    height:20vh;

}
.forcast .forcastDay p:nth-child(3), p:nth-child(4){
    display: inline;
}
.forcast .forcastDay p:nth-child(3){
    border-right: 1px solid rgb(109, 109, 109);
    padding-right: 5px;
}
.forcast .forcastDay p:nth-child(4){
    padding-left: 5px;
}