.currentBasics{
    margin-top: 60px;
   
}

.waveSvg{
    position: relative;
    margin-top: 20px;
    left:-10px;
    height: 100px;
    width: 110%;
    overflow: hidden;
}

.white{
    position: relative;

    width: 120%;
    left:-10px;
    top: -10px;
    background-color: rgb(255, 255, 255);
    height: 250px;

}